/*SPINNER */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FONT */
.home-page-user,
.footer {
  font-family: "Alexandria", "Alexandria Placeholder", sans-serif;
}

@font-face {
  font-family: "Brigends Expanded";
  src: url("/Users/wojte/OneDrive/Pulpit/udawanie grafika/fonty/Brigends Expanded.woff")
      format("woff"),
    url("/Users/wojte/OneDrive/Pulpit/udawanie grafika/fonty/Brigends Expanded.woff2")
      format("woff2");
  font-weight: 400;
  font-style: normal;
}
.register.mt-3.mb-3,
.login.mt-3.mb-3 {
  font-family: "Brigends Expanded";
}
